@font-face {
  font-family: "NanumGothic";
  src: url("src/assets/fonts/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/WorkSans-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .twc-center {
    @apply tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2;
  }

  .twc-center-x {
    @apply tw-absolute tw-left-1/2 tw-transform tw--translate-x-1/2;
  }
}

.intro-text {
  @apply tw-block tw-leading-tight tw-whitespace-nowrap tw-overflow-hidden tw-text-2xl tw-text-stone-400 md:tw-text-5xl md:tw-leading-tight;
}

.list__headline {
  @apply tw-text-lg tw-text-emerald-900 tw-mb-8 md:tw-text-2xl;
}

.list__wrapper {
  li {
    @apply tw-flex tw-flex-nowrap tw-mb-2;
  }

  p {
    @apply tw-ml-3;
  }
}

.sdm {
  @apply twc-center-x tw-block tw-my-auto tw-bottom-8;

  &__mouse {
    @apply tw-h-10 tw-w-6 tw-rounded-xl tw-border-2 tw-border-white tw-top-44;
    animation: mouse-color 2s infinite;
  }

  &__wheel {
    @apply tw-h-2 tw-w-1 tw-block tw-my-2 tw-mx-auto tw-relative tw-border-2 tw-rounded-sm tw-border-cyan-400;
    animation: mouse-wheel-move 2s linear infinite;
  }

  &__arrows {
    display: block;
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 -2px 8px;

    width: 8px;
    height: 8px;

    animation: mouse-arrow 1s infinite;
    animation-direction: alternate;

    &--1 {
      margin-top: 4px;
    }

    &--2 {
      animation-delay: 0.2s;
    }

    &--3 {
      animation-delay: 0.4s;
    }
  }
}

@keyframes mouse-wheel-move {
  0% {
    top: -2px;
  }
  50% {
    top: 2px;
  }
  100% {
    top: -2px;
  }
}

@keyframes mouse-arrow {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes mouse-color {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
